{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %} {# or extend another layout if needed #}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let links = document.querySelectorAll('.app-navigation__link');
    links.forEach(link => {
      if (window.location.href.includes(link.getAttribute('href'))) {
        link.parentNode.classList.add('app-navigation__list-item--current');
      }
    });
    });
   document.addEventListener("DOMContentLoaded", function() {
      const parentToggles = document.querySelectorAll('.parent-toggle');
      parentToggles.forEach(toggle => {
        toggle.addEventListener('click', function(e) {
          e.preventDefault();
          const sectionId = this.getAttribute('data-toggle');
          const content = document.getElementById(sectionId);
          if (content) {
            content.classList.toggle('show');
          }

          // Find the parent li of the clicked toggle and toggle the class on it
          const parentLi = toggle.closest('.item');
          if (parentLi) {
            parentLi.classList.toggle('app-subnav__section-item--current');
          }
        });
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('.app-back-to-top__link').addEventListener('click', function (e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    });
</script>
<style>
  .govuk-header__logotype-crown {
    display: none;
}

.body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Arial', sans-serif !important;
}
.a, govuk-back-link  {
    font-family: 'Arial', sans-serif !important;
    co
}
.app-navigation {
    display: flex;
    align-items: center;
    color: #00703C;
    border-bottom: 1px solid #b1b4b6;
    box-sizing: border-box;
    padding: 6px;
}

.app-navigation__list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5;
    box-sizing: border-box;
    height: 1.125rem;
    float: left;
}

.app-navigation-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-navigation__search {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    margin-left: auto;
    float: right;
    padding: 10px;
}

.search-box {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 35px;
    border: 2px solid #fff;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left -2px;
    background-size: 40px 40px;
}

.app-navigation__list-item {
    display: inline-block;
    margin-right: 16px;
}

app-navigation__search .search-container {
    margin-left: 30px;
}

a.app-navigation__link[href="/layouts/application-processing"] {
    width: 200px;
}

.app-navigation__link {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 19px;
}

.app-navigation__list-item--current {
    border-bottom: 4px solid #00703C;
}

.grid-container-assets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.grid-item {
    padding: 10px;
}

ol, li {
    list-style-type: none;
}

.govuk-main-wrapper {
    padding-top: 0px;
    padding-bottom: 60px;
}

.govuk-grid-row {
    padding-top: 60px;
    padding-bottom: 0px;
}

.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    border-bottom: 10px solid #87C426;
}

.govuk-link--no-visited-state:visited {
    color: #00703C;
}

.govuk-link:link {
    color: #fff;
}

.govuk-nav-link:link {
    color: #00703C;
}

.govuk-link--no-visited-state:hover, .app-navigation__link:hover {
    color: #00703C;
}
.js-enabled .govuk-accordion__show-all {
  color: #00703C; /* Updated color */
}
.govuk-link--no-visited-state:hover, .app-navigation__link:hover {
    color: #00703C;
}
.js-enabled .govuk-accordion__section-toggle {
  color: #00703C;
}
.govuk-link--no-visited-state:link {
  color: #00703C;
}
.govuk-link:link {
  color: #00703C;
}
</style>
<main class="govuk-main-wrapper">
      <div class="govuk-width-container">
       <div class="govuk-width-container">
 <div class="govuk-width-container">
    <div class="custom-nav-container">
        <nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
            <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
            <div class="app-navigation-grid">
                <ul class="app-navigation__list app-width-container">
                    <li class="app-navigation__list-item">
                        <a class="govuk-nav-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/index">
                            Home
                        </a>
                    </li>
                    <li class="app-navigation__list-item">
                        <a class="govuk-nav-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/layouts/workflow">
                            Workflow
                        </a>
                    </li>
                    <li class="app-navigation__list-item">
                        <a class="govuk-nav-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/layouts/processing">
                            Application Processing
                        </a>
                    </li>
                    <li class="app-navigation__list-item">
                        <a class="govuk-nav-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/layouts/notices">
                            Notices
                        </a>
                    </li>
                    <li class="app-navigation__list-item">
                        <a class="govuk-nav-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/layouts/research">
                            Research
                        </a>
                    </li>
                </ul>
                <div class="app-navigation__search">
                    <div class="search-container">
                        <input type="text" class="search-box" placeholder="Search...">
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Application Processing
        <span class="govuk-caption-l govuk-!-margin-top-1">Design documentation for Application Processing </span>
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">


      <p>The suite helps caseworkers to tools processeses register updates.
— Getting the right work, to the right person, at the right time.</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <!-- Section 1 - Work in Progress -->
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Work in Progress
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link--no-visited-state" href="project/cover.html">Lorem Ipsum Link 1</a></li>
                <li><a class="govuk-link--no-visited-state" href="project/cover.html">Lorem Ipsum Link 2</a></li>
            </ul>
        </div>
    </div>
    <!-- Section 2 - Work Completed -->
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Work Completed
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link--no-visited-state" href="#link3">Lorem Ipsum Link 3</a></li>
                <li><a class="govuk-link--no-visited-state" href="#link4">Lorem Ipsum Link 4</a></li>
            </ul>
        </div>
    </div>
    <!-- Section 3 - Experimental & Playground -->
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Experimental and Playground
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link--no-visited-state" href="#link7">Lorem Ipsum Link 7</a></li>
                <li><a class="govuk-link--no-visited-state" href="#link8">Lorem Ipsum Link 8</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Resources for design
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://hmlr-application-processing.herokuapp.com/">
                Heroku app (opens in new tab)
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://github.com/LandRegistry/application-processing-prototypes">
                GitHub repo (opens in new tab)
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="starter-documentation">Starter documentation</a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="flat-ap-files/flow-02/checks.html">Device checks</a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="index-design.html">Design experiments and samples</a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="/form-validation/">Form validation for gov kit (not in use anymore)</a>
            </li>
          </ul>
        </nav>
      </aside>

      <aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Shared resources
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://landregistryuk.sharepoint.com/:x:/s/APBATeam/EWj_VoNV14tHpGG7qdvH5AsB0EZO8ElquGBgsnLIMVaw7w?e=4cLrSP" target="_blank" class="govuk-link">AP Rules and Suitability Checks
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
</div>


{% endblock %}
